<div id="<%= dom_id(immunisation) %>" class="my-4">
  <dl class="row mb-0">
    <dt class="col-sm-4 fw-semibold">Patient</dt>
    <dd class="col-sm-8">
      <%= [immunisation.patient&.first_name, immunisation.patient&.last_name].compact.join(" ") %>
    </dd>

    <dt class="col-sm-4 fw-semibold">Vaccine</dt>
    <dd class="col-sm-8"><%= immunisation.vaccine&.name %></dd>

    <dt class="col-sm-4 fw-semibold">Administered on</dt>
    <dd class="col-sm-8"><%= immunisation.administered_on %></dd>

    <dt class="col-sm-4 fw-semibold">Administered by</dt>
    <dd class="col-sm-8"><%= immunisation.administered_by %></dd>

    <dt class="col-sm-4 fw-semibold">Batch number</dt>
    <dd class="col-sm-8"><%= immunisation.batch_number %></dd>

    <dt class="col-sm-4 fw-semibold">Next due date</dt>
    <dd class="col-sm-8"><%= immunisation.next_due_date %></dd>
  </dl>
</div>
