<div id="<%= dom_id immunisation %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Patient:</strong>
    <%= immunisation.patient_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Vaccine:</strong>
    <%= immunisation.vaccine_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Administered on:</strong>
    <%= immunisation.administered_on %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Administered by:</strong>
    <%= immunisation.administered_by %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Batch number:</strong>
    <%= immunisation.batch_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Next due date:</strong>
    <%= immunisation.next_due_date %>
  </div>
</div>
