<div id="<%= dom_id vaccine %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= vaccine.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Manufacturer:</strong>
    <%= vaccine.manufacturer %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dose number:</strong>
    <%= vaccine.dose_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Schedule interval:</strong>
    <%= vaccine.schedule_interval %>
  </div>
</div>
