<div id="<%= dom_id(vaccine) %>" class="my-4">
  <div class="mb-3">
    <strong class="d-block fw-semibold mb-1">Name:</strong>
    <%= vaccine.name %>
  </div>

  <div class="mb-3">
    <strong class="d-block fw-semibold mb-1">Manufacturer:</strong>
    <%= vaccine.manufacturer %>
  </div>

  <div class="mb-3">
    <strong class="d-block fw-semibold mb-1">Dose number:</strong>
    <%= vaccine.dose_number %>
  </div>

  <div class="mb-0">
    <strong class="d-block fw-semibold mb-1">Schedule interval:</strong>
    <%= vaccine.schedule_interval %>
  </div>
</div>
