<div id="<%= dom_id patient %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">First name:</strong>
    <%= patient.first_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Last name:</strong>
    <%= patient.last_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Date of birth:</strong>
    <%= patient.date_of_birth %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Medicare number:</strong>
    <%= patient.medicare_number %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email:</strong>
    <%= patient.email %>
  </div>
</div>
